[D-BUS Service]
Name=com.dildogram.desktop
Exec=/usr/bin/env DESKTOPINTEGRATION=1 GDK_BACKEND=x11 QT_QPA_PLATFORM=xcb WEBKIT_DISABLE_DMABUF_RENDERER=1 @CMAKE_INSTALL_FULL_BINDIR@/DildoGram
